<a href="https://colab.research.google.com/github/JorgeARuizC/lab_2/blob/main/Lab2_Jorge_Ruiz.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Laboratorio 2

In [ ]:
#Importar libreria
import pandas as pd

#Visualizar datos del dataframe
pd.read_csv('matriz.csv')

      Action  [1 0 1 1 1 0 1 1 0 1 0 0] Reward  0.0
0     Action  [0 0 0 1 0 1 0 1 1 1 0 0] Reward  0.0
1     Action  [0 0 1 0 0 1 0 0 0 0 0 1] Reward  0.0
2     Action  [1 0 0 1 1 0 1 1 1 1 1 0] Reward  0.0
3     Action  [1 0 1 1 0 1 0 1 0 1 1 0] Reward  0.0
4     Action  [1 1 1 1 1 0 1 0 1 0 1 0] Reward  0.0
...                                             ...
1060  Action  [0 1 1 0 0 0 1 1 0 0 1 1] Reward  0.0
1061  Action  [1 1 0 0 0 0 1 0 1 1 0 1] Reward  0.0
1062  Action  [1 1 0 0 0 1 0 1 0 1 1 0] Reward  0.0
1063  Action  [1 0 1 1 1 1 0 0 1 1 0 0] Reward  0.0
1064  Action  [0 1 0 0 1 1 0 0 1 1 0 0] Reward  0.0

[1065 rows x 1 columns]

Carga de datos en una variable

In [ ]:
sonic_games = pd.read_csv('matriz.csv') 
#Visualizacion de variables nulas y sus tipos de datos
sonic_games.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1065 entries, 0 to 1064
Data columns (total 1 columns):
 #   Column                                         Non-Null Count  Dtype
---  ------                                         --------------  -----
 0   Action  [1 0 1 1 1 0 1 1 0 1 0 0] Reward  0.0  1065 non-null   object
dtypes: object(1)
memory usage: 8.4+ KB

In [ ]:
#Observacion del valor máximo en una escala superior a los demás valores.
sonic_games.describe().T

,count,unique,top,freq
Action [1 0 1 1 1 0 1 1 0 1 0 0] Reward 0.0,1065,928,Action [0 1 1 0 0 0 1 1 0 0 1 1] Reward 0.0,3

Limpieza de Datos

In [ ]:
#Valores nulos por columna
missing_values_count  = sonic_games.isna().sum()
#Guardar suma de valores nulos en variable "missing_values_count"
missing_values_count

#Al verificar la lista, no existen valores nulos.

Action  [1 0 1 1 1 0 1 1 0 1 0 0] Reward  0.0    0
dtype: int64

Eliminar Datos Duplicados

In [ ]:
df= pd.DataFrame(sonic_games)
df

      Action  [1 0 1 1 1 0 1 1 0 1 0 0] Reward  0.0
0     Action  [0 0 0 1 0 1 0 1 1 1 0 0] Reward  0.0
1     Action  [0 0 1 0 0 1 0 0 0 0 0 1] Reward  0.0
2     Action  [1 0 0 1 1 0 1 1 1 1 1 0] Reward  0.0
3     Action  [1 0 1 1 0 1 0 1 0 1 1 0] Reward  0.0
4     Action  [1 1 1 1 1 0 1 0 1 0 1 0] Reward  0.0
...                                             ...
1060  Action  [0 1 1 0 0 0 1 1 0 0 1 1] Reward  0.0
1061  Action  [1 1 0 0 0 0 1 0 1 1 0 1] Reward  0.0
1062  Action  [1 1 0 0 0 1 0 1 0 1 1 0] Reward  0.0
1063  Action  [1 0 1 1 1 1 0 0 1 1 0 0] Reward  0.0
1064  Action  [0 1 0 0 1 1 0 0 1 1 0 0] Reward  0.0

[1065 rows x 1 columns]

In [ ]:
dx= df[(df.B==0)&
       (df.A==0)&
       (df.MODE==0)&
       (df.START==0)&
       (df.UP==0)&
       (df.DOWN==0)&
       (df.LEFT==0)&
       (df.RIGTH==0)&
       (df.C==0)&
       (df.Y==0)&
       (df.X==0)&
       (df.Z==0)&
       (df.REWARD==0)
]
dx

AttributeError: ignored